		h1, p, a, img, * {
	    margin: 0;
	    padding: 0;
	    list-style: none;
	}

	a{
		color:#fff;
		font-size: 100%;
		text-decoration: none;
	}

	img {
    	border: medium none;
    	vertical-align: middle;
	}

	* {
    	margin: 0;
    	padding-top: 0;
	}

	body {
   	 	color: #fff;
		font-size: 100%;
		margin: 0px;
		width: 100%;
	}

	.clear 
	{
   	 	clear: both;
	}

	.index{
		overflow:hidden;
	}
		.index .top{
			position: fixed;
			width: 100%;
			background:#000;
			overflow: hidden;
			padding-bottom: 10px;
			top: 0;
			z-index: 999;
		}
			.index .tob{
				margin:0 auto;
				max-width: 1140px;
			}
			.index .top .logo{
				margin-top: 10px;
				float: left;
				width: 20%;	
			}
				.index .top .logo h3{
				font-size: 18pt;
				font-weight: 500;
				}
				.index .top .logo p{
				font-size: 10pt;
				}
			.index .top .menu{
				padding-top: 20px;
				margin-right:1%;
				float: right;
			}
				.index .top .menu li{
					float: left;
					margin:0 18px;
					cursor:pointer;
					word-break:break-all;
					font-size: 14px;
				}
				.index .top .menu ul:before{
					content:url("../images/shop.png");
					height: 5px;
					width: 5PX;
					cursor: pointer;
					margin-left: 20px;
				}
					.index .top .menu li:hover{
						color: #fab000;
					}
		.index .top .menu_2{
			cursor: pointer;
			width: 72px;
	    	height: 62px;
	    	position: absolute;
	    	top: 50px;
	    	right: 60px;
			display: none;
		}
			.index .top .menu_2 span{
				background-color: #fff;
				display: block;
			    margin-bottom: 12px;
			    height: 8px;
			    width: 100%;
			    left: 0;
			}
		.index .top_2{
			height: 63px;
		}	
		.index .bann{
			width: 100%;
			height: 600px;
			overflow: hidden;
		}
				.index .banner{
					background: url(../images/banner1.jpg);
					background-position: center;
					background-size: cover;
					background-repeat: no-repeat;
					width: 100%;	
					height: 100%;
				}

			.index .banner .slogan{
				width: 100%;
				position: relative;
			}

					.index .banner .textt{
						position: relative;
						margin:0 auto;
						max-width: 1140px;
						padding-top: 100px;
					}
					.index .banner h3{
						font-size: 40px;
						margin-bottom: 5%;				
					}
					.index .banner p{
						font-size: 18px;
						margin-bottom: 5%;	
						padding-right: 450px;
					}
					.index .banner .butt a{
						font-size: 16px;
						padding: 12px 32px;
						background:#f9b520;
						border-radius: 8px;
						font-family: "Helvetica",Sans-serif;
						border-style: solid;
						border-color: #f9b520;
						border-width: 2px;
					}
					.index .banner .butt a:hover{
						background-color: rgba(255,255,255,0);
						color:#f9b520;
					}
		.index .main_1 {
			width: 100%;
			height: 600px;
			color: #000;	
		}	
			.index .main_1 .clothing{
				margin:0 auto;
				max-width: 1140px;
			}
				.index .main_1 .clothing h3{				
					font-size: 28px;
					width: 100%;
					text-align: left;
					padding: 40px 0;
				}
				.index .main_1 .clothing ul{
					overflow:hidden;
					max-width: 1140px;
					cursor: pointer;
					position:relative;
					transition: all 1s linear;
					height: 410px;
				}
					.index .main_1 .clothing ul li{
						text-align: center;
						float: left;
						margin-right: 25px;
						color: #000;
						display: block;
						width: 250px;	
					}
					.index .main_1 .clothing .bef{
					    position: relative;

					}
					.index .main_1 .clothing .value{
						color: #77a464;
					}
					.index .main_1 .clothing .butn{
					padding: 5px;	
					position: relative;
					margin-top: 10px;
					background-color:#000;
					margin-left:28%;
					width: 40%;
					font-size: 14px;
					color: #fff;
					font-weight: 300;
					}
						.index .main_1 .clothing  .butn:hover{
							border: 1px solid #000;
						}
						.index .main_1 .clothing .bef img{
							height:300px;
							width:250px;
							margin: 0 auto;
							border: 1px solid #B5B5B6;
						}
						.index .main_1 .clothing .bef .but{
	   						padding: 10px 16px;
	   						position: absolute;
	   						top:40%;
	   						left:35%;
	   						border:1px solid #fff;
	   						opacity: 0;
	   						font-size: 24px;
						}						
					.index .main_1 .clothing p{
						color: #000;
						font-size: 20px;
						margin:10px;
						font-family: 'Helvetica', sans-serif;
					}
					.index .main_1 .clothing .dloth{
						position: relative;
						margin-top: 20px;
						left:47%;
						height: 20px;
					}			
						.index .main_1 .clothing .dloth span{
							cursor: pointer;
							float: left;
							border: 1px solid #fff;
							width: 10px;
							height:10px;
							border-radius:50%;
							background: #333;
							margin-right: 5px;
						}
						.index .main_1 .clothing .dloth .on{
							background: #f9b520;
						}			
		.index .interval{
			background-color: #000;
			width: 100%;
			height: 300px;
			margin-bottom: 30px;
			position: relative;

		}
			.index .interval .inte{
				margin: 0 auto;
				max-width: 1280px;
				text-align: center;			
			}
			.index .interval h3{
				padding-top: 60px;
				font-size: 40px;
			}
			.index .interval h4{
				padding-top: 20px;
				font-size: 35px;
				font-weight: 300;
			}
			.index .main_2{
				width: 100%;
				color: #000;
				margin-bottom: 20px;
			}
			.index .main_2 ul{
			margin:0 auto;
			max-width: 1140px;

			}
			.index .main_2 ul li{
				float: left;				
				width:28%;
				margin:0 1%;
				padding: 20px 10px;
			}
			.index .main_2 ul li h4{
				font-size: 22px;
				color: #989898;
				font-weight:400;
			}
			.index .main_2 .SALE{
			border-style: solid;
    		border-width: 0 1px;
    		border-color: #999;
			}
			.index .main_2 ul li img{
				width: 70px;
				height: 104px;
				border: 1px solid #B5B5B6;
				float: left;
				margin-right: 15px;				
			}
			.index .main_2 ul li .mi{
				display: block;
				width: 80%;
				height: 104px;
				margin-top: 10px;
			}
			.index .main_2 ul li p{
				padding-top: 5px;
			}
	.index .map{
		height: 300px
	}		
	.index .map iframe{
		width: 100%;
		max-width: 100%;
		height: 300px
	}
	.index .bottm{
		background-color: #000;
		height: 250px;
		width: 100%;
		padding-top: 5%;
	}
	.index .bottm .bott{
		margin:0 auto;
		max-width: 1140px;
	}
	.index .bottm .bot_1{
		width: 75%;
		float: left;
		padding-right: 8%;
	}
	.index .bottm .bot_1 h3{
		font-size: 24px;
		padding-bottom: 15px;
	}
	.index .bottm .bot_2{
		width: 15%;
		float: left;
	}
	.index .bottm p{
		font-weight: 300;
		font-size: 14px;
		line-height: 24px;
	}
	.index .bottm .bot_2 h3{
		padding-bottom: 20px;
		font-size: 24px;
	}
	.index .bottm .bot_2 span{
		font-size: 18px;
		line-height:5px;
		font-weight:bold;
	}
	.index .bottm .bot_2 .phone,.maps,.mail{
		padding-bottom: 15px;;
	}
	.index .bottm .bot_2 .phone:before{
		content:url("../images/phone.png");
		padding-right: 10px;
		vertical-align:middle;
  		display:inline-block;
	}
	.index .bottm .bot_2 .maps:before{
		content:url("../images/maps.png");
		padding-right: 10px;
		vertical-align:middle;
  		display:inline-block;
	}
	.index .bottm .bot_2 .mail:before{
		content:url("../images/mail.png");
		padding-right: 10px;
		vertical-align:middle;
  		display:inline-block;
	}
