	h1, p, a, img, * {
	    margin: 0;
	    padding: 0;
	    list-style: none;
	}

	a{
		color:#fff;
		font-size: 100%;
		text-decoration: none;
	}

	img {
    	border: medium none;
    	vertical-align: middle;
	}

	* {
    	margin: 0;
    	padding-top: 0;
	}

	body {
   	 	color: #fff;
		font-size: 100%;
		margin: 0px;
		width: 100%;
	}
	.Orange{
		color:#fab000;
	}

	.clear 
	{
   	 	clear: both;
	}
	.index{
		overflow:hidden;
	}
	.ddd{
		
	}
		.index .top{
			position: fixed;
			width: 15%;
			z-index: 999;

		}
			.index .tob{
			margin:0 auto;
			top: 0;
			transition: all 0.5s;
			margin-top: 20%;
			margin-left: 20%;
			}
			.index .top .logo{
				float: left;
				width: 24%;					
			}
			.index .top .logo h3{
				font-size: 42pt;
				font-weight: 400;
				}
			.index .top .menu{
				padding-top: 20px;
				margin-right:1%;
				float: right;
			}
				.index .top .menu ul:after{
					content:url("../images/shop.png");
					letter-spacing: 1px;
					float: left;
				}
				.index .top .menu li{				
					cursor:pointer;
					word-break:break-all;
					font-size: 25px;
					color: #000;
					font-weight:bold;
				}
					.index .top .menu li:hover{
						color: #fab000;
					}
		.index .top .menu_2{
			cursor: pointer;
			width: 30px;
	    	height: 20px;
	    	display: none;
	    	position: fixed;
	    	right: 10px;
	    	top: 20px;
		}
		.index .top .menu_2 ul{
			display: none;
		}
		
			.index .top .menu_2 span{
				background-color: #000;
			    margin-bottom: 6px;
			    height: 3px;
			    width: 100%;
			    left: 0;
			    cursor: pointer;
			}
		.index .men{
				position:absolute;
				left: -280px;
				width: 280px;
				height: 100vh; 
				background-color: #0e0e0e;
				z-index: 99;
				transition: all 0.5s;	
			}
		.index  .men ul li{
			padding: 8px 10px !important;
			font-size: 18px;
			width: 70%;
		}	
		.index  .men .org{
			background-color:#fab000;
		}
		.index .bann{
			width: 100%;
			min-height: 620px;
			overflow: hidden;
			position: relative;
		}
				.index .bann .banner{
				width: 100%;
				overflow: hidden;
				position: relative;
				}
				.index .bann .banner img{
					width: 100%;
				}
				.index .bann .banner .iem{
					display: none;
					position: relative;
    				transition: left .75s ease-in-out;
				}
				.index .bann .banner .iemt{
					left: 0;			
				}
				.index .bann .banner .lef{
					left: -100%;
				}
				.index .bann .banner .bock{
					display: block;	
				}
				.index .bann .banner .righ{
					left: 100%;
				}
				.index .bann .banner .abs{
					position: absolute;
				}
		.index .main_1 {
			width: 100%;
			height: 600px;
			color: #000;	
		}	
			.index .main_1 .clothing{
				margin:0 auto;
				max-width: 1140px;
			}
				.index .main_1 .clothing h3{				
					font-size: 28px;
					width: 100%;
					text-align: left;
					padding: 40px 0;
				}
				.index .main_1 .clothing ul{
					overflow:hidden;
					max-width: 1140px;
					cursor: pointer;
					position:relative;
					transition: all 1s linear;
					height: 460px;
				}
					.index .main_1 .clothing ul li{
						text-align: center;
						float: left;
						margin-right: 25px;
						color: #000;
						display: block;
						width: 250px;	
					}
					.index .main_1 .clothing .bef{
					    position: relative;

					}
					.index .main_1 .clothing .value{
						color: #77a464;
					}
					.index .main_1 .clothing .butn{
					padding: 5px;	
					position: relative;
					margin-top: 10px;
					background-color:#000;
					margin-left:28%;
					width: 40%;
					font-size: 14px;
					color: #fff;
					font-weight: 300;
					}
						.index .main_1 .clothing  .butn:hover{
							border: 1px solid #000;
						}
						.index .main_1 .clothing .bef img{
							height:300px;
							width:250px;
							margin: 0 auto;
							border: 1px solid #B5B5B6;
						}
						.index .main_1 .clothing .bef .but{
	   						padding: 10px 16px;
	   						position: absolute;
	   						top:40%;
	   						left:35%;
	   						border:1px solid #fff;
	   						opacity: 0;
	   						font-size: 24px;
						}						
					.index .main_1 .clothing p{
						color: #000;
						font-size: 20px;
						margin:10px;
						font-family: 'Helvetica', sans-serif;
					}
					.index .main_1 .clothing .dloth{
						position: relative;
						margin-top: 20px;
						left:47%;
						height: 20px;
					}			
						.index .main_1 .clothing .dloth span{
							cursor: pointer;
							float: left;
							border: 1px solid #fff;
							width: 10px;
							height:10px;
							border-radius:50%;
							background: #333;
							margin-right: 5px;
						}
						.index .main_1 .clothing .dloth .on{
							background: #f9b520;
						}			
		.index .interval{
			background-color: #000;
			width: 100%;
			height: 300px;
			margin-bottom: 30px;
			position: relative;

		}
			.index .interval .inte{
				margin: 0 auto;
				max-width: 1280px;
				text-align: center;			
			}
			.index .interval h3{
				padding-top: 60px;
				font-size: 40px;
			}
			.index .interval h4{
				padding-top: 20px;
				font-size: 35px;
				font-weight: 300;
			}
			.index .main_2{
				width: 100%;
				color: #000;
				margin-bottom: 20px;
			}
			.index .main_2 ul{
			margin:0 auto;
			max-width: 1140px;

			}
			.index .main_2 ul li{
				float: left;				
				width:28%;
				margin:0 1%;
				padding: 20px 10px;
			}
			.index .main_2 ul li h4{
				font-size: 22px;
				color: #000;
				opacity: 0.6;
				font-weight:400;
			}
			.index .main_2 .SALE{
			border-style: solid;
    		border-width: 0 1px;
    		border-color: #999;
			}
			.index .main_2 ul li img{
				width: 70px;
				height: 104px;
				border: 1px solid #B5B5B6;
				display:inline-block;
				margin-right: 15px;

			}
			.index .main_2 ul li .mi{
				display: block;
				width: 80%;
				height: 104px;
				margin-top: 10px;
			}
			.index .main_2 ul li .mi span{
				padding-top: 5px;
					 display:inline-block;
			}			
			.index .main_2 ul li p{
				padding-top: 5px;
			}
	.index .main_3{
		width: 100%;
		max-width: 1140px;
		margin: 0 auto;
		padding-bottom: 40px;
	}	
	.index .bottm{
		background-color: #fff;
		padding-bottom: 5%;
		width: 100%;
		color: #000;
		padding-top: 5%;
	}
	.index .bottm .bott{
		margin:0 auto;
		max-width: 60%;
		text-align: center;
	}

	.index .bottm .bot_2{
		border-top: 1px solid #000;
		padding-top: 60px;
		width: 100%;
	}
	.index .bottm  h3{
		font-size: 24px;
		padding-bottom: 15px;
		
	}
	.index .bottm p{
		font-weight: 300;
		font-size: 14px;
		line-height: 24px;
		
	}
	.index .bottm .bot_2 a{
		float: left;
		color: #000;
		font-weight: bold;
		width: 20%;
	}
	.index .bottm .bot_2 a:hover{
		color: #999;
	}

.talk_con{
            width:600px;
            height:500px;
            border:1px solid #666;
            margin:50px auto 0;
            background:#f9f9f9;
        }
        .talk_show{
            width:580px;
            height:420px;
            border:1px solid #666;
            background:#fff;
            margin:10px auto 0;
            overflow:auto;
        }
        .talk_input{
            width:580px;
            margin:10px auto 0;
        }
        .whotalk{
            width:80px;
            height:30px;
            float:left;
            outline:none;
        }
        .talk_word{
            width:420px;
            height:26px;
            padding:0px;
            float:left;
            margin-left:10px;
            outline:none;
            text-indent:10px;
        }        
        .talk_sub{
            width:56px;
            height:30px;
            float:left;
            margin-left:10px;
        }
        .atalk{
           margin:10px; 
        }
        .atalk span{
            display:inline-block;
            background:#0181cc;
            border-radius:10px;
            color:#fff;
            padding:5px 10px;
        }
        .btalk{
            margin:10px;
            text-align:right;
        }
        .btalk span{
            display:inline-block;
            background:#ef8201;
            border-radius:10px;
            color:#fff;
            padding:5px 10px;
        }
        .btalk span:hover{
            display:inline-block;
            background:#ef8201;
            border-radius:10px;
            color:#fff;
            padding:5px 10px;
        }
        .index .clothing{
			width: 95%;
			margin: 0 auto;
			padding-top: 40px;
        }
        .index .clothing ul li{
			width: 32%;
			float: left;
			margin-right: 10px;
			margin-bottom: 10px;
			height: 290px;
			border: 1px solid #ccc;
			text-align: center;		
			font-size: 1.4rem;
			border-radius:2px;
        }
        .index .clothing .one{
		
        }
        .index .clothing ul li a{
        	color: #777;
        }
        .index .clothing ul li .clothing_1{
			overflow:hidden;
			height: 250px;
			width: 95%;	
			margin: 0 auto;
			border-left: 1px solid #ccc;
			border-right: 1px solid #ccc;
			border-bottom: 1px solid #ccc;			
        }
        .index .clothing ul li .catering {
			background:url("../images/shop(1).jpg") no-repeat ;		
			background-size:cover;
			background-position:center;					
        }      
        .index .clothing ul li .school {
			background:url("../images/shop(2).jpg") no-repeat;
			background-size: cover;
			background-position:center;					
        } 
        .index .clothing ul li .group {
			background:url("../images/shop(3).jpg") no-repeat;
			background-size: 100%;
			background-position:center;			
        } 
        .index .clothing ul li .company {
			background:url("../images/shop(4).jpg") no-repeat;
			background-size: cover;
			background-position:center;			
        } 
        .index .clothing ul li .work {
			background:url("../images/shop(5).jpg") no-repeat;
			background-size: cover;
			background-position:center;			
        }                                           
        .index .clothing ul li .other {
			background:url("../images/shop(6).jpg") no-repeat;
			background-size: cover;
			background-position:center;			
        }        
        .index .clothing ul li .items {
			background:url("../images/shop(7).jpg") no-repeat;
			background-size: cover;
			background-position:center;			
        } 