		@media only screen and (max-width: 767px) 
		{
		.index .top{
			height: 73px;
		}
		.index .top_2{
			height: 73px;		
		}
		.index .top .menu{
			display: block;
		}

		.index .top .logo{
			margin-left: 10px;
			margin-top: 5px;
		}
		.index .top .menu {
			float: none;
			display: none;
		}

		.index .top .menu_2{
			display: block;
		}
			.index .top .menu_2 span{
				display: block;
			}
			.index .top .menu ul:before{
				display: none;
			}
				.index .top .menu_2:before{
					content:url("../images/shop-2.png");
					letter-spacing: 1px;
					float: left;
    				margin-left: -40px;
    				margin-top: -5px;
				}
		.index .banner{
			background: url(../images/banner2.jpg);
				}
		.index .bann{
			height: 450px;
		}	
		.index .banner .textt{
			padding-left: 10%;
		}
		.index .banner .textt h3{
			font-size: 32px;
			padding-bottom: 20px;
		}	
		.index .banner .textt p{
			font-size: 18px;
			padding-right:170px;
			width: 90%;
			font-weight: 200;
		}
		.index .banner .butt{
			padding-top:30px;
			padding-left: 12%;
		}
		.index .banner .butt a{
			font-size: 18px;
			padding:10px 20px;
		} 
		.index .main_1{
			height: 760px;
		}
		.index .main_1 .clothing h3{
			font-size: 40px;
			font-weight: 500;
			padding-bottom: 20px;
		}
		.index .main_1 .clothing ul {
			overflow: visible;
		}
		.index .main_1 .clothing ul li{
			width: 40%;
			padding-bottom: 20px;				
		}
		.index .main_1 .clothing .bef img{
			height: 160px;
			width: 140px;
		}	
		.index .main_1 .clothing .butn{
			margin-left:20%;
			width: 60%;
		}
		.index .interval {
			height: 200px;
		}
		.index .interval h3{
			font-size: 26px;
		}
		.index .interval h4{
			font-size: 20px;
		}
		.index .main_2 ul{
			width: 90%;	
			padding-left: 5%;	
		}		
		.index .main_2 ul li{
			width: 90%;
			margin: 0 auto;
		}		
		.index .main_2 ul li .mi{
			width: 100%;
			height: 106px;
			padding: 5px 0;
		}
		.index .main_2 ul li .mi img{
			width: 90px;
			height: 120px;
		}
		.index .main_2 .SALE{
			border: none;
		}
		.index .map {
			height: 380px;
		}
		.index .map iframe{
			height: 380px;
		}
		.index .bottm{
			height:720px;
		}
		.index .bottm .bot_1{
			float: none;
			margin: 0 auto;
			width: 82%;
		}
		.index .bottm .bot_1 h3{
			padding:5% 0;
		}
		.index .bottm .bot_1 p{
			opacity: 0.6;
		}
		.index .bottm {
			padding-top: 2%;
		}
		.index .bottm .bot_2{
			width: 88%;
			float: none;
			margin: 0 auto;
		}
		.index .bottm .bot_2 h3{
			
			padding:5% 0;
		}
		.index .bottm .bot_2 span{
			
			line-height: normal;
			text-align: center;
			letter-spacing:8px;
		}
		.index .bottm .bot_2 div{
			text-align: center;
		}
		.index .bottm .bot_2 .phone:before{
			width: 100%;
			padding: 1% 0;		
		}
		.index .bottm .bot_2 .maps:before{
			width: 100%;
			padding: 1% 0;	
		}
		.index .bottm .bot_2 .mail:before{
			width: 100%;
			padding: 1% 0;	
		}
	}