		@media (max-width:767px) 
		{}
		.index .top{
			height: 143px;
		}
		.index .top_2{
			height: 154px;
			
		}
		.index .top .menu{
			display: none;
		}

		.index .top .logo{
			margin-left: 2%;
			margin-top: 1%;
		}
		.index .top .logo h3{
			font-size: 50px; 
		}

		.index .top .logo p{
			font-size: 35px;
		}
		.index .top .menu li{
			float: none;
			display: none;
		}
		.index .top .menu_2{
			display: block;
		}

			.index .top .menu ul:before{
				display: none;
			}
				.index .top .menu_2:before{
					content:url("../images/shop-2.png");
					letter-spacing: 1px;
					float: left;
    				margin-left: -150px;
    				margin-top: -10px;
				}
		.index .banner{
			background: url(../images/banner2.jpg);
				}
		.index .bann{
			height: 800px;
		}	
		.index .banner .textt{
			padding-left: 20%;
		}
		.index .banner .textt h3{
			font-size: 60px;
			padding-bottom: 20px;
		}	
		.index .banner .textt p{
			font-size: 35px;
			padding-right:170px;
		}
		.index .banner .butt{
			padding-top:30px;
			padding-left: 12%;
		}
		.index .banner .butt a{
			font-size: 60px;
			padding:20px 30px;
		} 
		.index .main_1{
			height: 1860px;
		}
		.index .main_1 .clothing h3{
			text-align: center;
			font-size: 60px;
			font-weight: 500;
			padding-bottom: 200px;
		}
		.index .main_1 .clothing ul {
			overflow: visible;
		}
		.index .main_1 .clothing ul li{
			width: 45%;
			padding-bottom: 40px;	
			
		}
		.index .main_1 .clothing .bef img{
			height: 500px;
			width: 420px;
		}
		.index .main_1 .clothing p{
			font-size: 45px;	
		}
		.index .main_1 .clothing .butn{
			padding:20px;
			font-size: 24px;
			margin-left:20%;
			width: 60%;
		}
		.index .interval h3{
			font-size: 60px;
		}
		.index .interval p{
			font-size: 45px;
		}
		.index .main_2 ul{
			width: 90%;
			padding:10% 15%;
		}		
		.index .main_2 ul li{
			width: 100%;
			margin: 0 auto;
		}		
		.index .main_2 ul li h4{
			font-size: 60px;
		}
		.index .main_2 ul li .mi{
			width: 100%;
			height: 306px;
			padding: 5px 0;
		}
		.index .main_2 ul li .mi img{
			width: 240px;
			height: 306px;
		}
		.index .main_2 ul li p{
			font-size: 40px;	
		}
		.index .main_2 .SALE{
			border: none;
		}
		.index .map {
			height: 380px;
		}
		.index .map iframe{
			height: 380px;
		}
		.index .bottm{
			height:1900px;
		}
		.index .bottm .bot_1{
			float: none;
			margin: 0 auto;
			width: 82%;
		}
		.index .bottm .bot_1 h3{
			font-size: 60px;
			padding:5% 0;
		}
		.index .bottm .bot_1 p{
			font-size:40px;
			opacity: 0.6;
			line-height: 55px;
		}
		.index .bottm {
			padding-top: 2%;
		}
		.index .bottm .bot_2{
			width: 88%;
			float: none;
			margin: 0 auto;
		}
		.index .bottm .bot_2 h3{
			font-size: 60px;
			padding:5% 0;
		}
		.index .bottm .bot_2 span{
			font-size: 36px;
			line-height: normal;
			text-align: center;
			letter-spacing:8px;
		}
		.index .bottm .bot_2 div{
			text-align: center;
		}
		.index .bottm .bot_2 .phone:before{
			content:url("../images/phone-2.png");
			width: 100%;
			padding: 5% 0;		
		}
		.index .bottm .bot_2 .maps:before{
			content:url("../images/maps-2.png");
			width: 100%;
			padding: 5% 0;	
		}
		.index .bottm .bot_2 .mail:before{
			content:url("../images/mail-2.png");
			width: 100%;
			padding: 5% 0;	
		}