@media only screen and (max-width: 1280px)  
	{
		.index .top {
			width: 80%;
		}	
		.index .tob{
			margin-left: 10%;
		}
		.index .main_1 .clothing{
		 width: 100%;
		 margin-left: 30px;
		}
		.index .main_1 .clothing ul{
			width: 100%;
		}
		.index .bann{
			min-height: 300px;
		}
		.index .main_1 .clothing ul li{
		 margin-right: 20px;
		 width: 22%;
		}
		.index .main_1 .clothing .bef img {
			width: 100%
			}

		.index .main_2 ul{
			margin-left: 15%;
		}	
		.index .main_2 ul li{
			width: 22%;
			border-width: 1px;
		}
		.index .main_2 ul li h4{
			font-size: 18px;
		}
		.index .bottm .bot_2{
			padding-top: 0;
		}
		.index .bottm .bot_2 a{
			padding-top:5px;
			width: 100%;
		}
        .index .clothing ul li{
			width: 48%;
        }
        .index .smain{
        	width: 96%;
        }
        .index .smain .mainright .new ul li{
        	width: 32%;
        }
		.index .smain .cont .butn{
			position: relative;
			width: 10%;
			padding: 10px 40px;
		}
		.index .smain .cont .send{
		padding-top: 17%;
		}
		.index .detail{
			width:90%;
		}
		.index .detail .deta, .page{
			width: 100%;
		}
		.index .detail .deta .phto{
			width: 50%;
		}
		.index .detail .deta .commodity{
			width: 30%;
		}
	}	
