@media only screen and (max-width: 1280px) 
	{
		.index .top .logo{
			margin-left: 30px;
			margin-top: 2px;
		}
		.index .top .menu{
			margin-right: 0.5%;
			width: 60%;
			margin-top: 0;
			}
		.index .bann{
			font-size: 10px;
			height: 300px;
		}
		.index .banner .textt{
			width: 90%;
			padding-top: 40px;
			margin-left: 15px;
		}
		.index .banner h3{
			font-size: 20px;
		}
		.index .banner p{
			font-size: 14px;
		}
		.index .main_1 .clothing{
		 width: 100%;
		 margin-left: 30px;
		}
		.index .main_1 .clothing ul{
			width: 100%;
		}
		.index .main_1 .clothing ul li{
		 margin-right: 20px;
		 width: 22%;
		}
		.index .main_1 .clothing .bef img {
			width: 100%
			}
		.index .main_2 ul{
			margin-left: 30px;
		}	
		.index .main_2 ul li{
			width: 22%;
			border-width: 1px;
		}
		.index .main_2 ul li h4{
			font-size: 18px;
		}
		.index .bottm .bott{
			margin-left: 30px;
		}
		.index .bottm .bot_1{
			width: 60%;
		}
		.index .bottm .bot_2{
			width: 20%;
		}
	}	